<div class="container">
    <h4>Edit</h4>
    <div>
        <label for='title'>Name: </label> 
        <input type="text" name="name" id="name" required value="<%=user.name === user.username ? '' : user.name%>" class="form-control">
    </div>
    <div>
        <label for='email'>Email: </label> 
        <input type="email" name="email" id="name" required value="<%=user.email === user.username ? '' : user.email%>" class="form-control">
    </div>
    Optional Parameters :
    <div>
        <label for='linkedin'>LinkedIn: </label> 
        <input type="url" name="linkedin" id="linkedin" value="<%=user.linkedIn === user.username ? '' : user.linkedIn%>" class="form-control">
    </div>
    <div>
        <label for='linkedin'>Twitter: </label> 
        <input type="url" name="twitter" id="twitter" value="<%=user.twitter === user.username ? '' : user.twitter%>" class="form-control">
    </div>
    <div>
        <label for='extra'>Any Other Link: </label> 
        <input type="url" name="extra" id="extra" value="<%=user.extra === user.username ? '' : user.extra%>" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>