<%- include('../partials/header.ejs') %> 
<div class="bg-dark p-2 m-3">
    <p>

    </p>
    <div class="row">
        <div class="col-sm-4">
            
            <div>
                <strong><%= user.name %></strong>
            </div>
            <div class="mb-3 text-muted">
                <%= user.email !== user.username ? user.email : user.profileUrl %>
            </div>
        </div>
        <div class="col-sm-5">
            <a class="btn btn-primary" href="/profile/<%=user.id%>/edit"><i class="fas mr-2 fa-user-edit"></i>Edit Details</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img class="img-responsive" height = 350 width=350 src="<%=user.githubAvatar%>" class="mb-3">
        </div>
        <div class="pt-5 mt-5 col-sm-5">
            <div class="p-2 d-flex">
                <h4>Visit<a class="logo-link" href="<%=user.profileUrl%>" target="_blank"> GitHub</a></h4>
            </div>
            <% if(user.linkedIn !== user.username) { %>
                <div class="p-2">
                    <h4>Visit<a class="logo-link" href="<%=user.linkedIn%>" target="_blank"> LinkedIn</a></h4>
                </div>
            <% } %>
            <% if(user.twitter !== user.username) { %>
                <div class="p-2">
                    <h4>Visit<a class="logo-link" href="<%=user.twitter%>" target="_blank"> Twitter</a></h4>
                </div>
            <% } %>
        </div>
    </div>
    </div>
    <div>
        <%- include('_proposal.ejs') %>
        <%- include('_projects.ejs') %>
    </div>
    <div id="notification" class="bg-dark p-2 m-3">
        <% notification.forEach(notifs => { %>
            <p> <%= notifs.username%><%=notifs.message%><%=notifs.projectname%><br></p>
        <% }) %>
    </div>
    
</div>
<script src="/jquery/dist/jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    socket.on('connect', () => {
        console.log('connected');
    })

    function getElem(id) {
        return document.getElementById(id);
    }

    var userId = window.location.href.split('/')[4].split('?')[0];
    if(window.location.href.includes('join=') || window.location.href.includes('leave='))
    {
        // console.log(window.location.href);
        var user = window.location.href.split('/')[4].split('?')[0];
        var code = window.location.href.split('/')[4].split('?')[1].split('=')[0];
        var proposal = window.location.href.split('=')[1];
        let info = {};
        info.sender=user;
        info.receiver=proposal;
        info.typer= code === 'join' ? 'newUser' : 'deleteUser' ;
        info.message='';
        console.log(info);
        socket.emit('newMessage', info);
        socket.emit('newNotification', info);
    }

    const propo = '<%-user.proposalId%>';
    const project = '<%-user.projectId%>';
    const propoarray = propo.split(',');
    const projectarray = project.split(',');

    socket.on('updateNotifications', (data) => {
        console.log(data);
        var i;
        for(i=0; i<propoarray.length; i++) {
            if(propoarray[i]===data.proposalId) {
                console.log('Match found');
                addNotification(data);
                break;
            }
        }
        for(i=0; i<projectarray.length; i++) {
            if(projectarray[i]===data.proposalId) {
                console.log('Match found');
                addNotification(data);
                break;
            }
        }
    })

    function addNotification(data) {
        var p = document.createElement('p');
        p.innerHTML = `${data.user}${data.message}${data.proposal}`;
        getElem('notification').appendChild(p);
    }
</script>