<%- include('../partials/header.ejs') %> 
<div class="container">
    
    
    <div class="proposal-div p-2 m-3">
        <div class="profile-detail ">
            <div>
                <img src="<%= proposal.coverImagePath%>" height=300 width=300>
            </div>
            <div class="ml-5">
                <h3 class="mt-3 proposal-heading">
                    <%= proposal.title.toUpperCase() %>
                </h3>
                <h5 class = "proposal-secondary-sub mg-bt">
                    Submitted by <%= developer.name %> (<%=developer.username%>)
                </h5>
                <h4 class = "proposal-secondary">
                    Proposal Description
                </h4>
                <div class="my-3 proposal-description">
                    <%= proposal.description %> 
                </div>

                <div class="mb-3 deadline-date">
                    <h5> Deadline : <%= proposal.deadline.toLocaleDateString() %></h5>
                    <h5> Tech Stack : <%= proposal.techStack %></h5>
                </div>

                <div class = "contact-div">
                    <h4 class="mg-bt2">
                        <span class="cyan">Contact </span><%=developer.username%> <span class="cyan">at :</span>
                    </h4>
                            
                    <div>
                        <h6>Email : <%=developer.email%></h6>
                    </div>

                    <div class = "proposal-description">
                        <h6>Github : <a class="ntd" href="<%=developer.linkedIn%>" target="_blank"> https://github.com/<%=developer.username%></a></h6>
                    </div>
                    <% if(developer.linkedIn !== developer.username) { %>
                        <div>
                            <a class="logo-link" href="<%=developer.linkedIn%>" target="_blank"><h1><i class="fab fa-linkedin"></i></h1></a>
                        </div>
                    <% } %>
                    <% if(developer.twitter !== developer.username) { %>
                        <div>
                            <a class="logo-link" href="<%=developer.twitter%>" target="_blank"><h1><i class="fab fa-twitter-square"></i></h1></a>
                        </div>
                    <% } %>
                    <% if(developer.twitter !== developer.username) { %>
                        <div>
                            <a class="logo-link" href="<%=developer.other%>" target="_blank"><h1><i class="fas fa-globe"></i></h1></a>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="mt-1 pt-5 justify-content-center">
                <% if(user !== undefined && proposal.createId === user.id) { %>
    
                    <div class="proposal-button-grid">
    
                        <form class="form-inline" action="/proposal/<%=proposal.id%>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <a href="/check/<%=proposal.id%>/<%=user.id%>" class="btn ml-2 btn-secondary"><i class="fas fa-code"></i> Check in on this project</a>
                        </form>
    
                        <a class="btn btn-primary" href="/proposal/<%=proposal.id%>/edit">Edit</a>
                    </div>
    
                <% } else if((user===undefined) || (user!==undefined && !proposal.developerId.includes(user.id))) { %>
                    <div>
                        <a href="/signup/<%=proposal.id%>" class="btn btn-success"><i class="fas fa-hand-pointer mr-2"></i>  Sign Up for this Project!</a>
                    </div>
                <% } else { %>
                    <div>
                        <a href="/check/<%=proposal.id%>/<%=user.id%>" class="btn btn-success"><i class="fas fa-code"></i> Check in on this project</a>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>